.btn {
    display: block;
    margin: 0 auto; 
    padding: 15px 32px;
    background: var(--color-main); 
    border: none; 
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--color-main-content);
    cursor: pointer; 
    transition: .25s;
}

.btn:active {
    background: var(--color-main-action);
    transform: scale(0.95); 
}

